<div class="container">
   <table class="table table-hover">
      <thead>
         <tr>
            <th scope="col" *ngFor="let header of headers">
               <ng-container *ngTemplateOutlet="header">
               </ng-container>
            </th>
         </tr>
      </thead>
      
      <tbody>
         <tr *ngFor="let dadosLinha of dados">
            <td *ngFor="let coluna of colunas">
               <ng-container *ngTemplateOutlet="coluna; context: { dadosLinha }">
               </ng-container>
            </td>
         </tr>
      </tbody>
   
   </table>

</div>
<br><br><br><br><br>



