<app-table [dados]="dados">

   <ng-template #header>Id</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.id }} 
   </ng-template>

   <ng-template #header>Paciente</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.paciente }} 
   </ng-template>

   <ng-template #header>Recepção</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.recepcao }}
   </ng-template>

   <ng-template #header>Especialidades</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.especialidades }}
   </ng-template>

   <ng-template #header>Profissional</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.profissional }}
   </ng-template>

   <ng-template #header>Teleconsulta</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.teleconsulta }}
   </ng-template>

   <ng-template #header>Retorno</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      <a href="#"> {{ item.retornoPaciente }} </a>
   </ng-template>

</app-table>









<div class="container">
   <table class="table table-hover">
      <thead>
         <tr>
            <th scope="col"> User</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Complete</th>
            <th scope="col">Text</th>
         </tr>
      </thead>
   
      <tbody *ngFor="let d of data | paginate: { itemsPerPage: 8, currentPage: p }">
        <tr>
            <td id="tableNumSize">{{ d.userId }}</td>
            <td id="tableNumSize">{{ d.id }}</td>
            <td>{{ d.title }}</td>
            <td>{{ d.completed }}</td>
            <td>{{ d.completed }}</td>
         </tr>
      </tbody>
   </table>

   <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
   </div>
   
</div>





