<app-table [dados]="dados">

   <ng-template #header>Id</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      <!-- <a [attr.href]="'teste/' + item.id"> --> {{ item.id }} <!-- </a> -->
   </ng-template>

   <ng-template #header>Paciente</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.paciente }} 
   </ng-template>

   <ng-template #header>Recepção</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.recepcao }}
   </ng-template>

   <ng-template #header>Especialidades</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.especialidades }}
   </ng-template>

   <ng-template #header>Profissional</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.profissional }}
   </ng-template>

   <ng-template #header>Teleconsulta</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      {{ item.teleconsulta }}
   </ng-template>

   <ng-template #header>Retorno</ng-template>
   <ng-template #coluna let-item="dadosLinha">
      <a href="#"> {{ item.retornoPaciente }} </a>
   </ng-template>

</app-table>

<div *ngFor="let d of data | paginate: 
   { itemsPerPage: 4, currentPage: p }" >
   <p>"userId" = {{ d.userId }}</p>
   <p>"id" = {{ d.id }}</p>
   <p>"title" = {{ d.title }}</p>
   <p>"completed" = {{ d.completed }}
   </p>
   <hr>
</div>

<pagination-controls 
   (pageChange)="p = $event" 
   class="float-right">
</pagination-controls>